<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>
    {% load static %}
    <link l="canonical" href="https://getbootstrap.com/docs/5.2/examples/cover/">
    <link href="{% static 'alpha/css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>
    <script src="{% static 'alpha/js/bootstrap.bundle.min.js' %}"></script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
      <div class="container-fluid">
        <a class="navbar-brand">CSMSWML</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-white bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel"> {{ request.user.email }} </h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'alpha:index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color:white" href="{% url 'logout' %}?next={% url 'alpha:index' %}">log out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <br>
    <div class="container-fluid">
      <div class="container-fluidrow justify-content-start">
        <div class="col container-fluid">
          <a class="btn bg-info" href="{% url 'alpha:createwarehouse' %}?next={% url 'alpha:dashboard' %}">new warehouse</a>
        </div>
      </div>
    </div>
    <br>
    <div class="container-fluid" style="overflow:auto;">
    <table class="table bg-danger">
      <thead>
        <tr>
          <td>Warehouse</td>
          <td>Pincode</td>
          <td>Date</td>
          <td>Time</td>
          <td>Parms</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        {% for a in alert %}
        <tr>
          {% for i in a %}
          <td>{{ i }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


    <br>
    <div id="accordion">
      {% for warehouse in warehouse_list %}
      <div class="card" style="overflow:auto;">
        <div class="card-header">
          <div class="container-fluid">
            <span class="h6 btn" style="float:left">{{ warehouse.name }}</span>
            <span class="h6 btn bg-primary" style="float:right" data-bs-toggle="collapse" href="#collapse{{ warehouse.id }}">open</span>
          </div>
        </div>
        <div id="collapse{{ warehouse.id }}" class="collapse " data-bs-parent="#accordion">
          <div class="card-body container-fluid">
              <div class="container-fluid" style="align-items:center;">
                  <a class="btn bg-warning" href="{% url 'alpha:editwarehouse' warehouse.id %}">update</a>
                  <a class="btn bg-danger"  href="{% url 'alpha:deletewarehouse' warehouse.id %}">delete</a>
              </div>
              <br>
              <div class="container-fluid">
                <ul class="list-group">
                   <li class="list-group-item">ID : {{ warehouse.id }}</li>
                   <li class="list-group-item">Country code : {{ warehouse.countrycode }}</li>
                   <li class="list-group-item">Pincode : {{ warehouse.pincode}}</li>
                 </ul>
              </div>
              <br>
              <div class="row justify-content-around">
                <div class="col-lg-7 shadow-lg bg-dark table-responsive-lg mt-1" >
                  <table class="table table-hover table-striped table-dark">
                    <thead>
                      <tr>
                        <td>WEATHER PARMS</td>
                        <td>CURRENT</td>
                        <td>TOMMOROW</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>WEATHER</td>
                        <td>{{ warehouse.cw.weather }}</td>
                        <td>{{ warehouse.tw.weather }}</td>
                      </tr>
                      <tr>
                        <td>TEMPERATURE</td>
                        <td>{{ warehouse.cw.temp }}</td>
                        <td>{{ warehouse.tw.temp }}</td>
                      </tr>
                      <tr>
                        <td>HUMIDITY</td>
                        <td>{{ warehouse.cw.humidity }}</td>
                        <td>{{ warehouse.tw.humidity }}</td>
                      </tr>
                      <tr>
                        <td>WIND SPEED</td>
                        <td>{{ warehouse.cw.wind_speed }}</td>
                        <td>{{ warehouse.tw.wind_speed }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-4 shadow-lg bg-dark table-responsive-lg mt-1">
                  <table class="table table-hover table-striped table-dark">
                    <thead>
                      <tr>
                        <td>IN WAREHOUSE</td>
                        <td>VALUES</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>TEMPERATURE</td>
                        <td>{{ warehouse.iw.temperature }}</td>
                      </tr>
                      <tr>
                        <td>HUMIDITY</td>
                        <td>{{ warehouse.iw.humidity }}</td>
                      </tr>
                      <tr>
                        <td>UPDATED</td>
                        <td>{{ warehouse.iw.updated }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
